<h1>Create a new menu item.</h1>
<form action='/menu/create' method='post'>
    <strong>Name:</strong>
    <br />
    <input type='text' name='name'>
    <br />
    <strong>Description:</strong>
    <br />
    <input type='text' name='description'>
    <br />
    <strong>Price:</strong>
    <br />
    <input type='number' name='menuPriceDollars'>
    <br />
    <input type='number' name='menuPriceCents'>
    <br />
    <button>Create</button>
</form>