<h1>Log in here.</h1>
<form action='/session/login' method='post'>
  <strong>Username:</strong>
  <br />
  <input type='text' name='username'>
  <br />
  <strong>Password:</strong>
  <br />
  <input type='text' name='password'>
  <br />
  <button>Login</button>
</form>