<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>


  <% include createmenu %>
  <h1>Menu:</h1>
  <p>
    <% items.forEach(function(item) { %>
      Name: 
      <%= item.name %>
      <br />
      Description: 
      <%= item.description %>
      <br />
      Price:   
      <%= item.price/100 %>
      <br />
      <br />
    <% }) %>
  </p>



</body>
</html>
