extends ../index.jade

block content
  include ./new.jade
  h2 Menu:
  if !menuItems.length
    | (You have no menu items yet.)
  else
    each menuItem in menuItems
      div.js-menu-container(data-id=menuItem._id.toString())
        ul.js-menu-errors
        div.js-menu-listing
          ul
            li Name:
              span.js-menu-name-text= menuItem.name
            li Description:
              span.js-menu-description-text= menuItem.description
            li Price:
              span.js-menu-price-text= (menuItem.price / 100).toFixed(2)
          button.js-menu-btn-edit Edit 
          button.js-menu-btn-delete Delete
        form.js-menu-edit(style='display: none')
          ul
            li
              | Name:
              input.js-menu-name-input
            li
              | Description:
              input.js-menu-description-input
            li
              | Price:
              input.js-menu-price-input
          button.js-menu-btn-save Save 
          button.js-menu-btn-cancel Cancel

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="/js/editMenu.js")