h2 Create a new menu item.
if locals.errors
  ul 
    each error in errors
      li=error.msg
form(action='/menu/create' method='post')
  label Name:
  br
  input(name='name' value=locals.name)
  br
  label Description:
  br
  input(name='description' value=locals.description)
  br
  label Price:
  br
  input(name='menuPrice' placeholder='0.00' value=locals.menuPrice)
  br
  button Create