h2 Create a new menu item.
form(action='/menu/create' method='post')
  label Name:
  br
  input(type='text' name='name')
  br
  label Description:
  br
  input(type='text' name='description')
  br
  label Price:
  br
  | $
  input(type='number' name='menuPriceDollars' placeholder='Dollars')
  | .
  input(type='number' name='menuPriceCents' placeholder='Cents')
  br
  button Create