extends ./index.jade

block content
  h2 Bot Demo
  .js-demo-messages
  form.js-demo-form
    input.js-demo-input(name="message" autocomplete="off")
    button.js-demo-submit send
  script(src="/js/botDemo.js")