<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <% if(username){ %>
    <h1>Hello <%=username%></h1>

    <ul>
      <li><a href="/menu">Your Menu</a></li>
      <li><a href="/user/upgrade">Upgrade Account</a></li>
    </ul>

    <a href="/session/logout">Log Out</a>
  <% } else { %>
    <% include login %>
    <br />
    <a href="/user/new">Create an Account Here</a> 
  <% } %>
</body>
</html>
