<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <% if(username){ %>
    <h1>Hello <%=username%></h1>
    <a href="/menu">Create a menu</a>
    <a href="/session/logout">Log Out</a>
  <% } else { %>
    <% include login %>
    <br />
    <a href="/user/new">Create an Account Here</a> 
  <% } %>
    <a href=" https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_7HWG5j8ikAyqQT1LuuZSuGHDHLMuhgcT&scope=read_write">OAuth Stripe</a> 
</body>
</html>
