extends ./layout.jade

block main
  h1= 'Hello ' + (username || 'Guest')
  if !username
    include ./session/login.jade
    a(href='/user/new') Create An Account
  else
    a(href='/session/logout') Log Out
    include ./nav.jade