doctype html
html(lang="en")
  head
  body
    h2 Log in here.
    if locals.errors
      ul
        each error in errors
          li=error.msg
    form(action='/session/login', method='post')
      label Username:
      br
      input(type='text' name='name' value= locals.name)
      br
      label Password:
      br
      input(type='text' name='password')
      br
      button Login
      br
      a(href='/user/signup') Create An Account