h1 {
  font-family: "Helvetica";
  font-size: 56px;
  font-weight: bold;
}

.landing-container {
    width: 767px;
    margin: auto;
    text-align: center;
}

.phone-container {
    position: relative;
}

.chat-container {
    position: absolute;
    top: 23px;
    left: 12px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 595px;
}

.chat-div {
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    height: 303px;
    padding: 0 31px;
}

.chat-input {
    width: 90%;
    float: left;
    border-radius: 0px 0px 0px 5px;
}

.chat-button {
    width: 10%;
    float: right;
    font-weight: bold;
    border-radius: 0px 0px 5px 0;
}

.login-button {
    float: right;
}

.subscribe-form {
    width: 596px;
    margin: auto;
}

.subscribe-form input {
    width: 90%;
    margin-top: 7px;
    margin-left: 5px;
}

.subscribe-button {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    font-weight: bold;
}

/*chat div*/
.chat-text {
    font-family: "Helvetica Neue" ;
    font-size: 20px;
    font-weight: normal;
}

.chat {
    max-width: 1000px;
    word-wrap: break-word;
    margin-bottom: 10px;
    line-height: 24px;
}

.clear {clear: both}

.from-me{
    position:relative;
    padding:10px 20px;
    color:white;
    background:#0B93F6;
    border-radius:25px;
    float: right;
}

.from-me:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    right:-7px;
    height:20px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
}

.from-me:after {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-1.5px;
    right:-55.6px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
}

.from-them {
    position:relative;
    padding:10px 20px;
    background:#E5E5EA;
    border-radius:25px;
    color: black;
    float: left;
}

.from-them:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
}

.from-them:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
}