h2 {
color: white;
}

input {
  width: 210px;
  position: relative;
}

.login-form {
  position: relative;
  width: 240px;
  height: 230px;
  top: 250px;
  border-radius: 15px;
  background-color: #0B93F6;
}

.input-password {
  top: 7px;
}

.login-btn {
  position: relative;
  width: 210px;
  height: 34px;
  top: 13px;
  font-size: 16px;
  font-family: "Helvetica";
}

.create-text {
  position: relative;
  top: 25px;
  color: white;
  left: 2px;
  font-size: 18px;
  font-family: "Helvetica";
}