h2 {
position: relative;
left: 15px;
color: white;
}

p {
  font-size: 16px;
  margin: auto;
  padding-left: 15px;
  font-weight: thin;
  color: white;
}

.form-control {
  margin: auto;
  height: 28px;
  width: 210px;
  margin-bottom: 10px;
}

.signup-form {
  top: 100px;
  position: relative;
  margin: auto;
  width: 240px;
  border-radius: 15px;
  background-color: #0B93F6;
}

.create-btn {
  position: relative;
  left: 15px;
  width: 210px;
  height: 34px;
  font-size: 16px;
  font-family: "Helvetica";
}

.return-text {
  color: white;
  left: 2px;
  font-size: 18px;
  font-family: "Helvetica";
  left: 15px;
  position: relative;
}