h2 Create a new account
if locals.errors
  ul 
    each error in errors
      li=error.msg
form(action='/user/create' method='post')
  label Username:
  br
  input(type='text' name='name' value= locals.name)
  br
  label Email:
  br
  input(type='text' name='email' value= locals.email)
  br
  label Password:
  br
  input(type='password' name='password')
  br
  label Verify Password:
  br
  input(type='password' name='verifyPassword')
  br
  button Create
  br
  a(href="/") Return to Login Page